@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    color: unset;
}


/*header and navbar styles*/

nav {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10.6vh;
    color: white;
}

.navbar {
    position: absolute;
    border: 1px white solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
}

.logo_and_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    width: 125px;
}

.logo_and_name>h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.logo_and_name>.fa-spotify {
    font-size: 2.3rem;
}

.navbar_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    width: 480px
}

.navbar_items>p {
    font-weight: 900;
    font-size: 0.9rem;
}


/*section first styles*/

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#first {
    background-image: url('../images/firstwp.png');
    height: 72vh;
}

.first_container,
.first_container_written,
.first_container_image,
.spotifyimage {
    border: 1px solid black;
}

.first_container {
    height: 80%;
    width: 72%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first_container_written {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 60%;
    height: 100%;
}

.first_container_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.spotifyimage {
    height: 90%;
    width: 80%;
}

.spotifyimage>img {
    height: 100%;
    width: 100%;
}

.first_container_written>p {
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 3px;
    margin: 30px 0px 35px 0px;
}

.first_container_written>h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

.first_container_written>h4 {
    font-weight: 100;
    font-size: 1.5rem;
    margin: 20px 0px 30px 0px;
}

.first_container_written>button {
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 3px;
    background-color: black;
    border: 1px white solid;
    border-radius: 25px;
    width: 270px;
    height: 45px;
    color: whitesmoke;
}