@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    color: unset;
}


/*header styles*/

header {
    background-image: url('../images/day.jpeg');
    height: 300px;
    background-size: cover;
    background-position: center;
}


/*dark mode settings*/

body {
    background: white;
}

.dark {
    background-color: black;
    height: 100vh;
    color: white;
    transition: 0.2s ease-in;
}

body.dark header {
    background-color: #2929294b;
    background-blend-mode: multiply;
    transition: 0.2s ease-in;
}

body.dark .dl_button {
    background-color: black;
    transition: 0.2s ease-in;
}

body.dark .main_insert {
    background-color: #292929;
    transition: 0.2s ease-in;
}


/*main body styles*/

.dl_btn,
.addtask_btn,
.taskbar>p,
.task_status>button,
.clr_btn,
.checkbutton,
.item>p,
.list_tools,
.author_name,
.social>a:hover {
    cursor: pointer;
}

.mainsec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.main {
    position: absolute;
    min-height: 10px;
    width: 455px;
    top: -200px;
}

.main_header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.main_header>p {
    font-size: 2rem;
    font-weight: 500;
}

.dl_button {
    background-color: white;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-between;
    display: flex;
}

.dl_btn {
    background-color: #FFCF00;
    border-radius: 50%;
    border-style: none;
    height: 25px;
    width: 25px;
}

.dl_btn:focus {
    transform: translateX(30px);
    transition: 0.5s ease-in 0.2s;
    background-color: crimson;
}

.main_insert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
    background-color: white;
    border-radius: 5px;
    opacity: 90%;
}

.main_insert>input {
    border: 0px;
    height: 20px;
    font-size: 1.2rem;
    flex-grow: 1;
    margin-left: 15px;
    background: none;
}

.main_insert>input:focus {
    outline: none;
    border: none;
}

.main_insert>button {
    border-radius: 5px;
    border-style: none;
    background-color: white;
    font-size: 1.8rem;
    color: #4f4dde;
    flex-grow: 0;
    background: none;
}

.addtask_btn {
    width: 40px;
}

.main_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 244, 244);
}

body.dark .main_list {
    background-color: #181717;
    transition: 0.2s ease-in;
}

.taskbar {
    margin: 10px 0px 5px 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border-style: none;
    height: 40px;
    padding: 5px;
    color: rgb(110, 107, 107)
}

body.dark .taskbar {
    background-color: #292929;
    color: white;
    transition: 0.2s ease-in;
}

.task_status {
    width: 180px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
}

.task_status>button {
    padding: 0px 3px;
    border-radius: 5px;
    border-style: none;
    background: none;
}

.clr_btn {
    padding: 0px 3px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    background: none;
}

.list_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
}

body.dark .list_items {
    background-color: #181717;
    transition: 0.2s ease-in;
}

.items {
    margin: 5px 0px 5px 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border-style: none;
    height: 40px;
    padding: 5px;
}

body.dark .items {
    background-color: #292929;
    transition: 0.2s ease-in;
}

.forscroll {
    max-height: 350px;
    overflow-y: scroll;
    background-color: rgb(245, 244, 244);
    border-top-left-radius: 10px;
}

body.dark .forscroll {
    background-color: #181717;
}

.checkbutton {
    flex-grow: 0;
    margin-left: 10px;
}

.item {
    margin-left: 10px;
    flex-grow: 1;
    color: rgb(110, 107, 107);
    font-size: 1.1rem;
}

body.dark .item {
    color: white;
}

.list_tools {
    width: 40px;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.checkbutton>.fa-check-circle {
    font-size: 1.4rem;
    background: #CF1B6F;
    background: -webkit-linear-gradient(to right, #CF1B6F 25%, #CF691B 59%);
    background: -moz-linear-gradient(to right, #CF1B6F 25%, #CF691B 59%);
    background: linear-gradient(to right, #CF1B6F 25%, #CF691B 59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 50%;
}

.checkbutton>.fa-check-circle:hover {
    opacity: 100%;
}

.list_tools>.fa-times {
    color: red;
    opacity: 50%;
}

.list_tools>.fa-times:hover {
    opacity: 100%;
    color: red;
}

.list_tools>.fa-bars {
    color: rgb(110, 107, 107);
}

.list_tools>.fa-bars:hover {
    color: black;
}

.task_status>button:hover {
    color: blue;
}

.clr_btn:hover {
    color: red;
}


/*footer styles*/

footer {
    position: absolute;
    bottom: 0;
    background-color: #f1f1f1;
    color: #4f4dde;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
}

body.dark footer {
    background-color: #292929;
}

.social {
    margin-right: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

i.fa-instagram {
    color: rgb(137, 5, 170);
}

body.dark i.fa-instagram {
    color: rgb(221, 70, 235);
}

i.fa-linkedin-in {
    color: rgb(39, 39, 245);
}

body.dark i.fa-linkedin-in {
    color: rgb(36, 124, 206);
}

i.fa-github {
    color: black;
}

body.dark i.fa-github {
    color: white;
}